NOTICE to nonexisting channel returns ERR_NOSUCHCHANNEL (403)

Hi,

InspIRCd replies to clients sending a NOTICE to a non-existing channel:

```
C -> S: NOTICE #nonexistent :hello there
S -> C: :irc.example.com 403 foo #nonexistent :No such channel
```

This is explicitly forbidden by [RFC 1459 section 4.4.2](https://tools.ietf.org/html/rfc1459#section-4.4.2):

> automatic replies must never be
> sent in response to a NOTICE message.  This rule applies to servers
> too - they must not send any error reply back to the client on
> receipt of a notice.

and by [RFC 2812 section 3.3.2](https://tools.ietf.org/html/rfc2812#section-3.3.2):

> The difference
> between NOTICE and PRIVMSG is that automatic replies MUST NEVER be
> sent in response to a NOTICE message.  This rule applies to servers
> too - they MUST NOT send any error reply back to the client on
> receipt of a notice

**Output of `./bin/inspircd --version`:**

```
InspIRCd - Internet Relay Chat Daemon
See /INFO for contributors & authors


InspIRCd-3.8.1
```

I think the spec is flawed here. The only real use of NOTICE as a "no reply" message is for PRIVMSG/NOTICE and similar messages. Clients shouldn't be automatically responding to error numerics.

Yeah I was wondering about that.

For what it's worth, Oragono does not send a 403 here, but Charybdis does. (I didn't try other implementations)