Add support for INVITEs to non-existing channels

[RFC 1459](https://tools.ietf.org/html/rfc1459#section-4.2.7) and [RFC 2812](https://tools.ietf.org/html/rfc2812#section-3.2.7):
> There is no requirement that the channel the target user is being
> invited to must exist or be a valid channel.

However, InspIRCd (as well as Charybdis) responds with a 401 (ERR_NOSUCHNICK) when inviting a user to a non-existing channel.

What is the use case for this? Also it would conflict with services some.

> What is the use case for this?

It's not different from INVITEs to channels with no +i.

> Also it would conflict with services some.

Pardon?

> It's not different from INVITEs to channels with no +i.

That isn't a use case. A use case is what it would possibly be used for.It doesn't matter how easy/hard it is to do if it doesn't make sense or just opens up more ways for abusive users to create spam.

> Also it would conflict with services some.

Eg, channel doesn't exist now but is owned in services by someone else.

right now, I can't find any use case

Section 1.3.1 of RFC 1459

     The commands which may only be used by channel operators are:
     KICK - Eject a client from the channel
     MODE - Change the channel's mode
     INVITE - Invite a client to an invite-only channel (mode +i)
     TOPIC - Change the channel topic in a mode +t channel[/code]

If the channel doesn't exist, you cannot /invite to it as you cannot be a channel operator.

Being an op is only required on channels with mode +i:

> To invite a user to a channel which is invite only (MODE
>   +i), the client sending the invite must be recognised as being a
>   channel operator on the given channel.)


:-1: Without a use case I really don't see a reason why this would need to be possible.

soooo, some background.

RFC1459 describes the state of IRC at the point between IRC 2.7 (which already had forks, hello ircu :)) and IRC 2.8, including bugs in the 2.7 implementation.  in historical IRCd, the logic for non-existent channels was to simply drop the INVITE silently without error.  this was changed originally by the ircu guys, and incorporated into hybrid 5.

either way, this is an example of the RFC codifying sub-optimal behavior.  as I said on #charybdis the other day to the reporter, interpreting the RFC literally will result in the same type of bad decisions as interpreting other religious texts literally.

I don't see any use case either.

> Being an op is only required on channels with mode +i:

>> To invite a user to a channel which is invite only (MODE
>> +i), the client sending the invite must be recognised as being a
>> channel operator on the given channel.)

In practice IRCds require you to be op no matter what the channel modes are unless the channel is in free-invite mode (+g with Charybdis / +A on InspIRCd).