[correctness] BufferedSocket::GetNextLine() rfc1459 framing overrun

`\r`, `\0`, `\n` and `\r\n` should all be handled as line terminators.

> Then you are not in compliance with section 8 of RFC1459 (section 8 describes, as you mentioned in your quote, the defacto state of ircd).  `\r` and `\n` should be treated the same, per section 8 of RFC1459.

I don't think we should be bug for bug compatible with other implementations, especially when the RFC uses the words "unfortunately" and "backwards compatibility". At this time, there is no need for this backwards compatibility measure.

I think @kaniini's comment in https://github.com/inspircd/inspircd/issues/1123#issuecomment-168048947 applies here as well:

> either way, this is an example of the RFC codifying sub-optimal behavior. as I said on #charybdis the other day to the reporter, interpreting the RFC literally will result in the same type of bad decisions as interpreting other religious texts literally.